// 菜单通用样式
.menu {
  display         : flex;
  flex-wrap       : wrap;
  padding-left    : 0;
  margin-bottom   : 30px;
  list-style      : none;
  border-bottom   : $menu-border-width solid $menu-border-color;
  box-shadow      : $menu-box-shadow;
  background-color: $white;

  .menu-item {
    text-align: center;
    padding   : $menu-item-padding-y $menu-item-padding-x;
    cursor    : pointer;
    transition: $menu-transition;

    &.menu-disabled {
      color         : $menu-item-disabled-color;
      pointer-events: none;
      user-select   : none;
    }

    &.menu-active {
      color        : $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }

    &:hover {
      color: $menu-item-active-color;
    }
  }

  .menu-submenu {
    position: relative;

    .submenu-title {
      display        : flex;
      justify-content: center;
      align-items    : center;

      .angle-down {
        margin-top : 3px;
        margin-left: 3px;
        transition : transform .25s;
      }
    }

    .submenu-dropdown {
      // display         : none;
      position        : absolute;
      top             : 50px;
      left            : 0;
      list-style      : none;
      padding-left    : 0;
      border          : $menu-border-width solid $menu-border-color;
      background-color: $white;
      box-shadow      : $submenu-box-shadow;

      .menu-item {
        color        : $gray-7;
        border-bottom: none;

        &:hover {
          color: $blue;
        }
      }

      .menu-active {
        color           : $blue;
        background-color: lighten($blue, 45%);
      }
    }

    .submenu-dropdown.open {
      // display: block;
    }
  }
}

// 垂直菜单独有样式
.menu-vertical {
  flex-direction  : column;
  border-right    : $menu-border-width solid $menu-border-color;
  background-color: $white;
  width           : 300px;
  margin          : 10px;

  :not(.menu-submenu).menu-active {
    border-left     : $menu-item-active-border-width solid $menu-item-active-color;
    background-color: lighten($blue, 45%);
  }

  .menu-item {
    padding: .5em 0;

    &.menu-active {
      border-bottom: 0px;
    }

    &:hover {
      color: $menu-item-active-color;
    }
  }

  .menu-submenu {
    padding: 0;

    // 下拉菜单被选中
    &.menu-selected {
      .angle-down {
        transform: rotate(180deg);
      }
    }

    .submenu-title {
      padding: .5em 0;
    }

    .submenu-dropdown {
      position  : static;
      border    : unset;
      box-shadow: unset;

      .menu-item {
        padding-left: 3em;
      }

      .menu-active {
        border-left     : none;
        color           : $blue;
        background-color: lighten($blue, 45%);
        border-left     : $menu-item-active-border-width solid $menu-item-active-color;
      }
    }
  }
}

// 单独设置水平菜单样式
.menu:not(.menu-vertical) {
  // 下拉菜单 hover 状态
  .menu-submenu {
    &:hover {
      .angle-down {
        transform: rotate(180deg);
      }
    }
  }
}