.tabs-components {
  margin-top : 1em;
  margin-left: 1em;
}

.menu-components {
  margin-top : 1em;
  margin-left: 1em;
}

.button-components {
  display       : flex;
  flex-direction: column;

  margin-top : 1em;
  margin-left: 1em;

  *+* {
    margin-top: 1em;
  }

  .abled {
    *+* {
      margin-left: 1em;
    }
  }
}

.alert-components {
  margin-top : 1em;
  margin-left: 1em;
}