.alert {
  position : fixed;
  display  : flex;
  top      : 10%;
  left     : 50%;
  transform: translateX(-50%);

  width    : 30%;
  padding  : .75em 1.75em;
  color    : $gray-6;
  font-size: .75em;

  // 内容
  .alert-message {
    line-height: 2;

    .alert-title {
      font-size: 16px;
    }

    .alert-content {
      font-size: 14px;
    }
  }

  // 关闭按钮
  .alert-close {
    margin-left: .5em;

    .btn.btn-text {
      font-size       : .75em;
      line-height     : .75em;
      padding         : 0;
      background-color: transparent;
    }
  }
}

.alert-success {
  @include alert-color(lighten($green, 40%), $green)
}

.alert-info {
  @include alert-color(lighten($blue, 40%), $blue)
}

.alert-warning {
  @include alert-color(lighten($yellow, 30%), $yellow)
}

.alert-error {
  @include alert-color(lighten($red, 40%), $red)
}